* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "Bebas Neue", cursive;
}

/* header */

.header {
  display: grid;
  grid-template-columns: 33.3%33.3% 16.67% 16.67%;
  grid-template-rows: 33.3% 33.3% 33.3%;
  background-color: #132c33;
  padding: 5px;
  height: 89px;
}

.logo {
  border-radius: 5px;
  width: 15rem;
  height: 8.91rem;
  grid-area: 1 / 1;
}

.imagesize {
  width: 2rem;
  height: 2rem;
}

.usermenu {
  grid-area: 2 / 4 / 3 / 5;
  grid-column-end: 5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.usermenu1 {
  grid-area: 1 / 4 / 2 / 5;
  grid-column-end: 5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.holausuario {
  border: 2px solid black;
  background-color: #b3e3f0;
  border-radius: 5px;
  padding: 2px;
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.uxsection {
  background-color: #126e82;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.menubar a {
  border: 0.5px solid #132c33;
  border-radius: 0.3rem;
  padding: 0.2rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  background-color: #132c33;
  text-decoration: none;
  text-emphasis: bold;
  font-size: 2.5rem;
  color: #b3e3f0;
}

.menubar li {
  display: inline-block;
  list-style-type: none;
  transition: all 1s;
}

.menubar li:hover {
  color: rgb(0, 191, 255);
  transform: scale(0.9) translateX(-1px) translateY(1px);
}

.searchbar {
  display: flex;
  justify-content: flex-end;
  gap: 0.2rem;
}

.input {
  background-color: #b3e3f0;
  border-radius: 5px;
  border: solid 0.2;
}

.select {
  background-color: #b3e3f0;
  border-radius: 5px;
  border: solid 2px;
}

/* main */

main {
  background-color: #132c33;
  display: flex;
  gap: 5px;
}

.bannernoticias {
  width: 60%;
  height: 60%;
  margin: 5px;
  border-radius: 0.3rem;
  border: solid 2px;
}

.resultados ul {
  background-color: #b3e3f0;
  border: solid 2px;
  border-radius: 3px;
  text-align: left;
  font-size: 3rem;
  padding: 5px;
  margin: 5px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.rescontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.notipubli {
  height: 70vh;
  background-color: #b3e3f0;
  display: grid;
  grid-template-columns: 20% 20% 20% 40%;
  grid-template-rows: 50% 50%;
  gap: 3px;
}

/* .notipubli {
  height: 70vh;
  background-color: #b3e3f0;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 50% 50%;
  gap: 3px;
} */

.notipubli img {
  border: 2px solid;
  border-radius: 3px;
  margin: 5px;
}

.pg {
  background-color: #b3e3f0;
  display: flex;
  justify-content: center;
}

.pg img {
  border: 1px solid;
  margin: 5px;
}

.noticia1 {
  width: 98%;
  grid-column: 1;
  grid-row: 1;
}
.noticia2 {
  width: 98%;
  grid-column: 2;
  grid-row: 1;
}
.noticia3 {
  width: 98%;
  grid-column: 3;
  grid-row: 1;
}
.noticia4 {
  width: 98%;
  grid-column: 2;
  grid-row: 2;
}
.noticia5 {
  width: 98%;
  grid-column: 3;
  grid-row: 2;
}
.noticia6 {
  width: 98%;
  grid-column: 1;
  grid-row: 2;
}

.publicidad {
  grid-area: 1 / 4 / 3 / 6;
  width: 513px;
  height: 409px;
}

/* footer */

footer {
  background-color: #132c33;
  color: #b3e3f0;
  font-size: 2rem;
}

.footeiner {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.map {
  width: 21rem;
  height: 15rem;
}

.footerbar {
  padding: 0px;
  background-color: #126e82;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  gap: 25px;
}

.footerbar h3 {
  margin: 5px;
  color: #b3e3f0;
}

/* formulario newsletter */

.formcontainer {
  background: linear-gradient(to bottom, #132c33, #b3e3f0);
  color: #b3e3f0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
}

.formcontainer li {
  list-style-type: none;
}

legend {
  font-style: oblique;
  font-size: 3rem;
  color: #b3e3f0;
}

.label {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}

.label1 {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}

.ordencheck {
  display: flex;
  flex-direction: column;
}

button {
  background-color: #132c33;
  font-size: 1.5rem;
  font-style: oblique;
  color: aqua;
  display: flex;
  justify-content: center;
}

.hover:hover {
  cursor: pointer;
}

/* ============================== */

/* Add CSS post Bootstrap */

html {
  font-size: 62.5%;
  font-family: "Bebas Neue", cursive;
}

.imgcenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* menu */

.headerbkgcolor {
  background: linear-gradient(to bottom, #132c33, #126e82);
}

#menu a {
  font-size: 15px;
  font-weight: bold;
  color: #b3e3f0;
}

.dropdown-menu li a:hover {
  background-color: #126e82;
}

/* Carousel */

.bannertext {
  text-align: center;
  background-color: #132c33;
  text-decoration: none;
  opacity: 75%;
}

.carruselmargin {
  margin-left: 5rem;
  margin-right: 5rem;
}

.bannercontainer {
  background: linear-gradient(to top, #132c33, #126e82);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Footer */

.org {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.org li {
  list-style-type: none;
  font-size: 15px;
}
